.home,
.projects,
.skills,
.contact {
  width: 100%;
}
.appcontainer {
  width: 100%;
}
#root {
  width: 100%;
}
#tsparticles {
  position: fixed !important;
}
.tsparticles-canvas-el {
  width: 100vw !important;
  height: 100vh !important;
}
